{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the Django application.</p>
    <p>User: {{ user.0.name }}</p>

    {%for i in user %}
        <p>{{ i.name }}</p>
    {% endfor %}

    {%if active_user %}
        <p>Active User : {{user.0.name }}</p>
    {% else %}
        <p>Inactive User</p>
    {% endif %}
</body>
</html>